@import "variables";

.toolbar-container {
  position: sticky;
  top: 0;
}

.toolbar {
  color: var(--grey3);
  background-color: var(--white2);
  height: $toolbar-height;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.toolbar-row {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  grid-gap: 0 1rem;
  width: 100%;
}

.toolbar-group {
  display: flex;
  align-items: center;
  gap: 0 1rem;
}

.toolbar h3 {
  width: 100%;
  text-align: center;
  font-family: var(--title-font);
}
