<div class="keyboard">
  <div class="keyboard-row">
    <app-key key="Q" [guesses]="guesses"></app-key>
    <app-key key="W" [guesses]="guesses"></app-key>
    <app-key key="E" [guesses]="guesses"></app-key>
    <app-key key="R" [guesses]="guesses"></app-key>
    <app-key key="T" [guesses]="guesses"></app-key>
    <app-key key="Y" [guesses]="guesses"></app-key>
    <app-key key="U" [guesses]="guesses"></app-key>
    <app-key key="I" [guesses]="guesses"></app-key>
    <app-key key="O" [guesses]="guesses"></app-key>
    <app-key key="P" [guesses]="guesses"></app-key>
  </div>
  <div class="keyboard-row">
    <app-key key="A" [guesses]="guesses"></app-key>
    <app-key key="S" [guesses]="guesses"></app-key>
    <app-key key="D" [guesses]="guesses"></app-key>
    <app-key key="F" [guesses]="guesses"></app-key>
    <app-key key="G" [guesses]="guesses"></app-key>
    <app-key key="H" [guesses]="guesses"></app-key>
    <app-key key="J" [guesses]="guesses"></app-key>
    <app-key key="K" [guesses]="guesses"></app-key>
    <app-key key="L" [guesses]="guesses"></app-key>
  </div>
  <div class="keyboard-row">
    <app-key key="DEL" [guesses]="guesses" [action]="true"></app-key>
    <app-key key="Z" [guesses]="guesses"></app-key>
    <app-key key="X" [guesses]="guesses"></app-key>
    <app-key key="C" [guesses]="guesses"></app-key>
    <app-key key="V" [guesses]="guesses"></app-key>
    <app-key key="B" [guesses]="guesses"></app-key>
    <app-key key="N" [guesses]="guesses"></app-key>
    <app-key key="M" [guesses]="guesses"></app-key>
    <app-key key="ENT" [guesses]="guesses" [action]="true"></app-key>
  </div>
</div>
